/*
Import & Apply Font and basic settings
list
 - NanumGothic
 - NanumGothicPen
 - Hi Melody
********************************/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hi+Melody&display=swap&subset=korean');

html{
	font-family: 'Nanum Gothic', sans-serif;
}
body{
	background-color:#fff;
	margin : 0px;
	padding: 0px;
	clear:both;
}
div#all{
	width : 1080px;
	position: relative;
	left:50%;
	margin-left:-540px;
}
/*
Header Style Setting
********************************/

div#absol{
	position:absolute;
	width:100%;
	margin:0px;
	padding:0px;
	height:60px;
	background-color:#3D4256;
}
h1{
	padding:0px;
	margin:0px;
	font-size : 15pt;
	font-weight : 800;
	float:left;
	width:200px;
	height:60px;
	text-align : center;
	line-height : 60px;
	color:white;
	cursor : pointer;
}
nav {
	width : 1080px;
	height: 60px;
	background-color:#3D4256;
}
nav > ul{
	padding:0px;
	margin:0px;
	float:right;
}
nav > ul > li{
	cursor : pointer;
	font-size:10pt;
	font-weight:800;
	color:white;
	float : left;
	list-style : none;
	width:100px;
	height:60px;
	text-align : center;
	line-height : 60px;
}
nav > ul > li:hover{ background-color:#9DA2D9; }


/*
Home Style Setting
********************************/

#ment{
	font-size:18pt;
	margin-top:40px;
	padding:20px;
	text-align:center;
	font-family: 'Nanum Pen Script', cursive;
}
#date{
	margin: 0px auto;
	margin-top:100px;
	width:800px;
}
#date > p{
	text-align:center;
	font-family: 'Hi Melody', cursive;
	padding:0px;
	margin:0px;
	font-size:15pt;
	margin-bottom:10px;
}
#date > input[type='date']{
	width:250px;
	display:block;
	margin:0px auto;
	border:0px;
	border-bottom:1px solid #ddd;
	color:#aaa;
	font-size:20pt;
	margin-bottom:10px;
}
#dateButton{
	
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	max-width: 70px;
	text-decoration: none;
	border-radius: 4px;
	padding: 10px 30px;
	
	margin:0px auto;
	font-size:13pt;
	color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}
#dateButton:hover{
	color: rgba(255, 255, 255, 0.85);
	box-shadow: rgba(30, 22, 54, 0.7) 0 80px 0px 2px inset;
}


#junDate p{
	text-align:center
}
#junDate p:nth-child(1){
	font-size:10pt;
	font-weight:bold;
	float:left;
}
#junDate p:nth-child(2){
	font-size:10pt;
	font-weight:bold;
	float:right;
}



progress {
	clear:both;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	display: block;
  	width: 100%;
  	border-radius: 8px;
  	margin-bottom: 0.75rem;
  	color: #273238;
}

progress::-webkit-progress-bar {
  	background-color: #eee;
  	border-radius: 8px;
}

progress::-webkit-progress-value {
	background-color: #273238;
	transition: width 0.8s;
  	border-radius: 8px;
}

progress::-moz-progress-bar {
  background-color: #eee;
  border-radius: 8px;
}




/*
Main
********************************/
#main, #hospital, #px, #welfare, #sale, #festivals{
	display:none;
}
.active{
	display:block;
}
table{
	clear:both;
}

/*
dropdown menu Style Setting
********************************/

#map{
	width:100%;
	height:200px;
}

/*
Table Style Setting
********************************/
table{
	border-collapse: separate;
	border-spacing: 0 0px;
	margin:0px auto;
	margin-top:100px;
}
table tr:nth-child(1){
	background-color:#ddd;
	font-weight:bold;
	color:#222;
	font-size:12px;
}

table tr{
	height:20px;
	font-size:13px;
}
table tr td {
	padding-right:10px;
	border-bottom:1px solid #999;
	padding:10px;
}


/*
Footer Style Setting
********************************/
footer{
	width:100%;
	height:100px;
	position:absolute;
	background-color:#3D4256;
	bottom:0;
	left:0;
	right:0;
}

footer>div{
	width:1080px;
	position:relative;
	left:50%;
	margin-left:-540px;
}

footer p{
	color : #aaa;
	font-size : 10pt;
	margin-left : 100px;
}
footer > div > div{
	float:left;
}

footer div img{
	position:relative;
	float:right;
	width:90px;
	margin-right:100px;
	margin-top:5px;
}
